{% extends "base.html" %}

{% block content %}
<div data-role="page" id="edit_description_{{recipegroup.id}}">
 <div data-role="header">
  <h1>Resepti: {{ recipegroup.main_ingredient }} - muokkaa</h1>
  {% include "recipes/snippets/right_top.html" %}
 </div>
 <div data-role="content">
	<a data-role="button" data-icon="back" href="{% url recipe_info recipegroup.id %}">Takaisin</a>
         <h3>Muokkaa</h3>
	<form method="post" data-ajax="false" action="{% url recipe_info recipegroup.id %}?descr=true" class="ui-corner-all">
		{% csrf_token %}
		{{ descr_form.as_p }}
		<button type="submit" data-theme="b" name="submit" data-icon="plus" value="submit-value">Muokkaa</button>
	</form>
 </div>
 {% include "recipes/snippets/footer.html" %}
</div>
{% endblock %}
